*
!.editorconfig
!.gitattributes
!.gitignore
!donator.properties
!gradlew
!gradlew.bat
!/gradle
!/gradle/**
!/asm/
!/asm/**
/asm/out
!/src/
!/src/**
!/libs/
!/libs/**
!/bbmodels/
!/bbmodels/**
!build.gradle
!settings.gradle
!gradle.properties
!discord.properties
!maven.properties
!LICENSE
!README.md
!update.json